@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSANS-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSANS-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSANS-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSANS-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "DM Sans", sans-serif;
  @apply grid bg-gray-950 bg-repeat text-gray-50;
}

@media (min-width: 768px) {
  body {
    background-image: url("/assets/noise-texture.svg");
  }
}

html {
  scroll-behavior: smooth;
}

.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-gray-100/20 bg-gray-200/10 backdrop-blur-md;
  content: "";
}
